.footer {
  margin-top: 2px;
}

.copyright {
  font-size: 1.3rem;
  color: var(--color-light--1);
  word-spacing: 2px;
  padding-top: 3px;
}

.link {
  /* text-decoration: none; */
  color: #fff;
  font-weight: 500;
}
